.button {
  @include text("Inter", 500, 16px, 19px, $font-color-main);
  background-color: $color-button;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  max-width: 262px;
  padding: 21px 34px;

  @media screen and (max-width: 425px) {
    display: none;
    visibility: hidden;
  }
}
