.content {
  background-color: $background-color;
  padding-bottom: 69px;

  @media screen and (max-width: 425px) {
    @include pad(40px, 59px);
    background-image: url(/assets/images/noise.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    mix-blend-mode: overlay;
    background-position: center center;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 425px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 362px;

    @media screen and (max-width: 425px) {
      max-width: 272px;
      margin-bottom: 45px;
    }
  }

  &__content-title-main {
    margin: 0;
    @include text("Inter", 400, 48px, 58px, $font-color-main);
    font-style: normal;
    margin-bottom: 30px;

    @media screen and (max-width: 425px) {
      @include text("Inter", 400, 36px, 44px, $font-color-main);
      margin-bottom: 15px;
    }

    span {
      @include text("Inter", 900, 48px, 58px);
      display: flex;
      width: 247px;
      background: $linear-gradient;
      font-style: normal;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      @media screen and (max-width: 425px) {
        @include text("Inter", 900, 36px, 44px);
        width: 186px;
      }
    }
  }

  &__content-discription {
    @include text("Montserrat", 400, 18px, 22px, $font-color-main);
    max-width: 275px;
    margin: 0;
  }

  &__content-conditions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (max-width: 425px) {
      align-items: flex-start;
    }

    &-title {
      margin: 0;
      max-width: 364px;
      @include text("Inter", 500, 18px, 22px, $font-color-main);
      font-style: normal;
      margin-bottom: 40px;
      text-align: right;

      @media screen and (max-width: 425px) {
        text-align: left;
        margin-bottom: 20px;
        max-width: 272px;
      }

      span {
        @include text("Inter", 700, 18px, 22px);
        font-style: normal;
        text-align: right;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        background: linear-gradient(92deg, #fcb045 36.99%, #fd1d1d 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        @media screen and (max-width: 425px) {
          text-transform: lowercase;
        }
      }
    }
  }

  &__content-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 164px);
    grid-gap: 30px;
    justify-content: flex-end;
    margin-bottom: 61px;

    @media screen and (max-width: 425px) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 14px;
      justify-items: start;
      margin: 0;
    }
  }

  &__content-item {
    list-style-type: none;
  }

  &__content-subtitle {
    margin: 0;
    margin-bottom: 6px;
    @include text("Inter", 500, 18px, 22px, $font-color-main);
    font-style: normal;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      width: 10px;
      height: 1px;
      background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%);
      display: none;

      @media screen and (max-width: 425px) {
        display: block;
      }
    }

    @media screen and (max-width: 425px) {
      @include text("Montserrat", 400, 13px, 16px, $font-color-main);
      padding-left: 15px;
      margin: 0;
    }
  }

  &__content-detail {
    margin: 0;
    @include text("Montserrat", 400, 16px, 20px, $font-color-main);
    font-style: normal;
    text-align: right;

    @media screen and (max-width: 425px) {
      display: none;
    }
  }
}
