.footer {
  background-color: $background-color;
  @include pad(55px, 20px);

  @media screen and (max-width: 425px) {
    @include pad(45px, 56px);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 425px) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  &__navigation-company {
    width: 215px;

    @media screen and (max-width: 425px) {
      margin-bottom: 30px;
    }

    &-title {
      margin: 0;
      margin-bottom: 20px;
      @include text("Inter", 700, 14px, 17px, $font-color-footer);
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-style: normal;
    }
  }

  &__navigation-menu {
    max-width: 412px;
    margin-left: 90px;

    @media screen and (max-width: 425px) {
      margin: 0;
      margin-bottom: 30px;
    }
  }

  &__navigation-company-list,
  &__navigation-menu-list,
  &__social-network-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__navigation-menu-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, auto));
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    justify-items: start;
    align-items: end;
    grid-template-rows: repeat(5, 19px);
  }

  &__navigation-company-item,
  &__navigation-menu-item {
    & + & {
      padding-top: 10px;
    }
  }

  &__contacts {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: flex-end;

    @media screen and (max-width: 425px) {
      margin: 0;
      align-items: flex-start;
    }
  }

  &__navigation-menu-title,
  &__contacts-title {
    margin: 0;
    margin-bottom: 20px;
    @include text("Inter", 700, 14px, 17px, $font-color-footer);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-style: normal;
  }

  &__navigation-company-link,
  &__navigation-menu-link,
  &__link-phone-address,
  &__address-text {
    @include text("Inter", 400, 16px, 19px, $font-color-main);
    text-decoration: none;

    @media screen and (max-width: 425px) {
      @include text("Inter", 400, 14px, 17px, $font-color-main);
    }
  }

  &__address-text {
    margin: 0;
    font-style: normal;
  }

  &__phone-address {
    margin-bottom: 20px;

    @media screen and (max-width: 425px) {
      margin-bottom: 8px;
    }
  }

  &__link-phone-address {
    font-weight: 500;
    font-style: normal;
  }

  &__social-network-wrapper {
    margin-bottom: 20px;

    @media screen and (max-width: 425px) {
      margin-bottom: 10px;
    }
  }

  &__social-network-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__social-network-item {
    & + & {
      margin-left: 10px;
    }
  }

  &__social-network-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__social-network-icon {
    stroke: $font-color-main;
    color: $font-color-main;
    width: 20px;
    height: 20px;
  }

  &__info-politics {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    padding-top: 33px;

    @media screen and (max-width: 425px) {
      padding-top: 50px;
      margin: 0;
      align-items: start;
    }

    &-text,
    &-link {
      margin: 0;
      @include text("Montserrat", 400, 12px, 15px, $font-color-main);
      font-style: normal;
      text-align: right;
    }
    &-link {
      text-decoration-line: underline;
    }
  }
}
