.header {
  background-color: $background-color;
  @include pad(57px, 90px);

  @media screen and (max-width: 425px) {
    @include pad(30px, 30px);
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (max-width: 425px) {
      display: block;
    }
  }

  &__icon-logo {
    stroke: $font-color-main;
    color: $font-color-main;
    width: 140px;
    height: 24px;
  }

  &__navigation {
    margin-left: auto;

    @media screen and (max-width: 425px) {
      margin: 0;
      display: flex;
      justify-content: space-between;
    }
  }

  &__link,
  &__phone-address,
  &__social-network-wrapper,
  &__discription {
    @media screen and (max-width: 425px) {
      display: none;
    }
  }

  &__link-navigation {
    text-decoration: none;
    @include text("Inter", 500, 16px, 19px, $font-color-main);

    & + & {
      margin-left: 30px;

      @media screen and (max-width: 425px) {
        margin: 0;
      }
    }

    &:last-child {
      @media screen and (max-width: 425px) {
        display: none;
      }
    }
  }

  &__phone-address {
    margin-left: 137px;
  }

  &__link-phone-address {
    text-decoration: none;
    @include text("Inter", 500, 16px, 19px, $font-color-main);
    font-style: normal;
  }

  &__social-network-wrapper {
    margin-left: 47px;
  }

  &__social-network-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__social-network-item {
    & + & {
      margin-left: 30px;
    }
  }

  &__social-network-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__social-network-icon {
    stroke: $font-color-main;
    color: $font-color-main;
    width: 20px;
    height: 20px;
  }

  &__discription {
    @include text("Montserrat", 300, 10px, 12px, $font-color-main);
    max-width: 139px;
    margin: 0;
    margin-top: 10px;
  }
}
