$background-color: #1e1e1e;
$font-color-main: #e4e5ea;
$color-button: #4077f3;
$linear-gradient: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%),
  #e4e5ea;
$font-color-footer: #656566;
$ball-purple-light: #833AB4;
$ball-red-light: #961A1A;
