@import "../fonts/fonts.css";
@import "../../dist/style.min.css";

html,
body {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  position: absolute;
}

*,
::before,
::after {
  box-sizing: border-box;
}
